@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0d1117;
    color: white;
   
}
.Panel {
    display: flex;
    gap: 1rem;
    margin: 1rem;
}

.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    color: azure;
    background-color: #161B22;
    flex: 1;
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
}
 
   
.button:hover {
   
    background-color: black; /*Carrot*/
   
    color:  orange;
}
.button2:hover {
   
    background-color: black; /*Carrot*/
   
    color:  orange;
}
.button3:hover {
   
    background-color: black; /*Carrot*/
   
    color:  orange;
}
.Kullanıcılar{
    margin-left: 20px;
    margin-top: 20px;
}
.Kaydet{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    color: azure;
    background-color: #161B22;
   font-size: large;
   margin-left: 25px;
   margin-bottom: 5px;
}
.Kaydet:hover{
    background-color: black; /*Carrot*/
   
    color:  orange;
}
.Kitaplar {
    margin-left: 20px;
    margin-top: 20px;
}


